.hero-info {
	position: relative;
	max-width: 430px;
	padding-top: 110px;
}

.title {
	font-family: MarkPro;
	font-size: 54px;
	font-weight: 500;
	line-height: 1.11;
	color: #f9f9fa;
	text-transform: uppercase;
	margin: 10px 0;
}

.subtitle {
	font-family: Rubik-Light;
	font-size: 16px;
	line-height: 1.5;
	color: #f9f9fa;
	margin-bottom: 30px;
}

.buttons {
	display: flex;
}

.button-link:first-child {
	margin-right: 20px;
}

.button-link {
	display: block;
}

.button {
	display: block;
	width: 154px;
}
