.header-wrapper {
	position: relative;
	display: flex;
	height: 70px;
	align-items: center;
	justify-content: center;
	background-color: #1b1a26;
	border-bottom: solid #ffdf00 2px;
}

.logo {
	width: 95px;
}

.lines {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.28;
}

.footer-wrapper {
	background-color: #1b1a26;
}

.site-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main-wrapper {
	position: relative;
	flex: 1 1 auto;
	background-image: url("../assets/png/vid_bg@2x.png");
	background-color: #1b1a26;
	background-size: 45%;
	background-position: top 0 right 0;
	background-repeat: no-repeat;
}

.container {
	margin: 0 auto;
	padding: 20px;
	max-width: 1050px;
}
