.text-ps {
	left: 85px;
}

.text-xbox {
	left: 115px;
}

.text-appletv {
	left: 115px;
}

.text-roku {
	left: 280px;
}

.text-firetv {
	left: 285px;
}

.text-androidtv {
	left: 270px;
}

.text-switch {
	left: 310px;	
}
